html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

    &::before,
    &::after {
        box-sizing: inherit;
    }
} 

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}
