
.footer {
    background-color: $lightGray;
    @include flex(column, auto);

    &-main {
        padding: 10vh 15vw;
    }

    &-nav {
        @include flex(row, space-between);
        border-top: 1px solid $gray;
        padding-top: 40px;


        &__title {
            margin-bottom: 20px;
            color: black;
        }

        &__item {
            padding: 3px 0;
            color: $gray;
        }
    }

    &-legal {
        background-color: black;
        @include flex(row, space-between);
        padding: 30px 15vw;
        font-size: 12px;

        &__links {
            @include flex(row, flex-end, auto, 20px);
        }
    }
}