.header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;

    &__wrapper {
        width: 100%;
        padding-left: 20px;
        @include flex (row, space-between, center, 40px);

        @include tablet {
            width: 70vw;
        }
    }

    &__nav-wrapper {
        height: 100%;
        border-bottom: 1px solid black;
        @include flex(row, space-between, center);
        flex-grow: 1;
    }

    &__logo {
        width: 70px;

        @include tablet {
            width: 100px;
        }
    }

    
}

.burguer-nav {
    
    @include tablet {
        display: none;
    }

    &__icon {
        width: 30px;
    }
}

.desktop-nav {
    display: none;

    @include tablet {
        display: block
    }

    

    &__list {
        @include flex(row, auto, auto, 25px);
    }

}

.icons-nav {
    &__list {
        @include flex(row, auto, auto, 25px);
    }

    &__icon {
        width: 18px;
    }
}