.main {
    background-color: $darkGray;
    margin: 0 auto;
    @include flex(column, auto, center);
    

    &__section {
        width: 100vw;
        padding: 10vh 0;
        @include desktop {
            width: 80vw;
        }
    }
}